---
import AboutBackground from "./AboutBackground.astro";
---

<section id="about" class="relative overflow-hidden flex w-full flex-col gap-12 py-24 text-balanced 2xl:gap-20 2xl:py-40">
  <AboutBackground />
  <div class="relative z-10 flex flex-col gap-12 2xl:gap-20">
    <div class="flex flex-col gap-4" data-aos="fade-up">
      <h2 class="text-3xl font-light tracking-tight sm:text-4xl 2xl:text-6xl">
        Sobre <span class="text-mesh-1">Mim</span>
      </h2>
    </div>

    <div class="grid grid-cols-1 gap-10 md:grid-cols-2 2xl:gap-24" data-aos="fade-up" data-aos-delay="100">
      <div class="space-y-6 text-sm leading-relaxed text-white/70 2xl:text-base 2xl:space-y-10">
        <p>
          Desde cedo, fui movido pela curiosidade e pelo interesse em tecnologia. O primeiro contato com programação ocorreu em 2020, durante a pandemia, quando passei a estudar desenvolvimento web. Atualmente, foco na criação de aplicações bem estruturadas utilizando <span class="text-white">Vue.js</span>, <span class="text-white">React</span> e <span class="text-white">Laravel</span>.
        </p>
        <p>
          Na <span class="text-white">PUC-PR</span>, aprofundo meus conhecimentos técnicos e exploro áreas como <span class="text-white">Inteligência Artificial</span> e <span class="text-white">Machine Learning</span>, aplicando inovação e análise de dados em diferentes projetos.
        </p>
      </div>

      <div class="space-y-6 text-sm lg:text-2xl leading-relaxed text-white/70 2xl:text-base 2xl:space-y-10">
        <p>
          Meu objetivo é contribuir para soluções tecnológicas que façam a diferença, sempre buscando aprender, evoluir e gerar impacto positivo.
        </p>
      </div>
    </div>
  </div>
</section>
